
  <p>Description of the Position: Train and
    
  <span class="js-word">
    <span class="js-toggle js-male">
      lead</span>
    <span class="js-hover">
      <span class="caps h5 muted mt0 mb1 center inline-block">Suggestions</span>
      <a href="javascript:void(0)" class="js-suggest blue button">guide</a>
      <a href="javascript:void(0)" class="js-suggest blue button">start</a>
      <a href="javascript:void(0)" class="js-suggest blue button">advance</a>
    </span>
  </span>

  an Inside Sales team of 15 Ticket Sales Representatives. Provide coaching and attend new business meetings with Ticket Sales Representatives. Maintain and optimize the company’s customer database via CRM. Provide in the moment training and reinforce sales techniques daily. Create an
  
  
  <span class="js-word">
    <span class="js-toggle js-female">
      honest</span>
    <span class="js-hover">
      <span class="caps h5 muted mt0 mb1 center inline-block">Suggestions</span>
      <a href="javascript:void(0)" class="js-suggest red button">reliable</a>
      <a href="javascript:void(0)" class="js-suggest red button">authentic</a>
      <a href="javascript:void(0)" class="js-suggest red button">genuine</a>
    </span>
  </span>
  
  culture consistent with the values of the Heat Group within the Inside Sales Department to ensure a productive work environment. Focus on selling Season Tickets, Partial Plans, Group Tickets and Premium Seating. Implement strategies to effectively track 
  
  <span class="js-word">
    <span class="js-toggle js-male">
      individual</span>
    <span class="js-hover">
      <span class="caps h5 muted mt0 mb1 center inline-block">Suggestions</span>
      <a href="javascript:void(0)" class="js-suggest blue button">personal</a>
      <a href="javascript:void(0)" class="js-suggest blue button">respective</a>
      <a href="javascript:void(0)" class="js-suggest blue button">original</a>
    </span>
  </span>
  
  
  
  and department sales efforts.. Work with Director of Ticket Sales to establish weekly, monthly and annual goals. Prepare weekly status reports for Director. Work extended and/or irregular hours including nights, weekends, and holidays as needed. Assist other departments as necessary.</p>

<p>Bachelor’s degree from a four year college or university. Two years of sustainable success in the Ticket Sales industry.  Excellent
  
  
  <span class="js-word">
    <span class="js-toggle js-male">
      leadership</span>
    <span class="js-hover">
      <span class="caps h5 muted mt0 mb1 center inline-block">Suggestions</span>
      <a href="javascript:void(0)" class="js-suggest blue button">administration</a>
      <a href="javascript:void(0)" class="js-suggest blue button">authority</a>
      <a href="javascript:void(0)" class="js-suggest blue button">skill</a>
    </span>
  </span>
  
  skills, communications skills, professional selling skills and previous ticket sales experience is required.  Bilingual in Spanish is preferred, but is not required.
</p>

